@font-face{
	font-family:"Nanum Gothic";
	src:url('/fonts/NanumGothic.eot');
	src:url('/fonts/NanumGothic.eot?#iefix') format('embedded-opentype'),
	url('/fonts/NanumGothic.woff') format('woff'),
	url('/fonts/NanumGothic.ttf') format('truetype');
	url('/fonts/NanumGothic.svg#NanumGothic') format('svg')
	src:local(※), url('/fonts/NanumGothic.woff') format('woff');
}

.section1{
	height:720px;
	position: relative;
	min-width:975px;
	overflow: hidden;
}
.visible{
	visibility: hidden;
	width:100%;
	height:400px;
}
.main_tp{
	position:absolute;
	width: 40%;
    max-width: 488px;
    left: 3%;
    bottom: 11.5%;
    padding-bottom: 20px;
    z-index: 5;
}
.section1 li{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display: none;
}
.section1 li.on{
	display: block;
}
.section1 li>a>img{
	width:100%;
	height:100%;
}
.section1 .btns{
	position:absolute;
	width:145px;
	z-index:10;
	left:50%;
	bottom:8%;
	margin-left:-72.5px;
}
.section1 .btn{

	display:inline-block;
	width:59px;
	height:59px;
	margin:0 5px;
	cursor: pointer;
	background:url('../img/slider_arrow.png');
	z-index:10;

}
.section1 .next{
	background-position: -60px 0;

}
.section1 div[class^=slider_line] {
	position:absolute !important;
	width:calc(47% - 64px) !important;
	height:1px;
	background:white;
	bottom:8%;
	margin-bottom:27px;
	opacity: 0.5;
	z-index:2;

}
.section1 .slider_line1{
	left:2%;
}
.section1 .slider_line2{
	right:2%;
}
.slide_num{
	position: absolute;
	left:50%;
	bottom:2.5%;
	margin-left:-25px;
	color:white;
	font-family: "Pinyon Script",cursive;
    font-size: 20px;
    line-height: 26px;
    z-index: 5;
}
.section2{
	min-width:975px;
	position: relative;
	background:#eeeae1;
	width:100%;
	padding:60px 0;
}
.section2 .section2_bg{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background:url('../img/main02_bg.jpg');
	background-size:cover;
}
.section2 .section2_text{
	position: relative;
	font-family: 'Jeju Myeongjo',serif;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: #93794a;
    text-align: center;
    z-index:5;

}

.section2 .section2_text span{
	font-size:14px;
	font-weight:bold;
}
.section3{
	min-width:975px;
	position:relative;
	background:#f5f2eb;
	height:100%;
	overflow:hidden;
}
.section3>div{
	width:50%;
	float:left;
	position: relative;
	min-width:485px;
}
.section3 .section_left{
	overflow: hidden;
}
.section3 .section_left li{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display: none;
}
.section3 .section_left li.on{
	display: block;
}
.section3 .section_left li img{
	width:100%;
	height:100%;
}
.section3 .section_right {
	float:right;
	text-align: center;
}
.section3 .section_right .roomview{
	margin-top:-30px;
}
.section3_text{
	font-size:13px;
	line-height:18px;
	letter-spacing: -0.02em;
}
.section3:before,
.section3:after{content=" ";display:table;}
.section3:after{clear:both;}

.section3 .more_btn{
	position: relative;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #ac8f67;
    letter-spacing: 0.2em;
    padding: 10px 45px;
    border: 1px solid #be9a5e;
    margin-top:30px;
}
.section3 .btns{
	position:absolute;
	min-width:145px;
	z-index:10;
	left:8%;
	bottom:3%;
	margin-left:-72.5px;
}
.section3 .btn{
	display:inline-block;
	width:59px;
	height:59px;
	margin:0 5px;
	cursor: pointer;
	background:url('../img/slider_arrow.png');
}
.section3 .next{
	background-position: -60px 0;
}
.section3 .btns .slider_line2 {
	position:absolute !important;
	width:100%;
	height:1px;
	background:white;
	bottom:5%;
	margin-bottom:27px;
	opacity: 0.5;
	z-index:2;
	left:25%;

}
.section4{
	min-width:975px;
	position:relative;
	background:#f5f2eb;
	height:100%;
	overflow:hidden;
}
.section4:before,
.section4:after{content=" ";display:table;}
.section4:after{clear:both;}

.section4>div{
	width:50%;
	min-width:485px;
	float:right;
	position: relative;
}
.section4 .section_right{
	overflow: hidden;
}
.section4 .section_right li{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
}
.section4 .section_right li.on{
	display:block;
}
.section4 .section_right li img{
	width:100%;
	height:100%;
}
.section4 .section_left {
	float:left;
	text-align: center;
}
.section4 .section_left .cafe{
	margin-top:-30px;
}
.section4_text{
	font-size:13px;
	line-height:18px;
	letter-spacing: -0.02em;
}
.section4 .more_btn{
	position: relative;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #ac8f67;
    letter-spacing: 0.2em;
    padding: 10px 45px;
    border: 1px solid #be9a5e;
    margin-top:30px;
}
.section4 .btns{
	position:absolute;
	min-width:145px;
	z-index:10;
	left:93%;
	bottom:3%;
	margin-left:-72.5px;
}
.section4 .btn{
	display:inline-block;
	width:59px;
	height:59px;
	margin:0 5px;
	cursor: pointer;
	background:url('../img/slider_arrow.png');
}
.section4 .next{
	background-position: -60px 0;
}
.section4 .btns .slider_line2 {
	position:absolute !important;
	width:100%;
	height:1px;
	background:white;
	bottom:4%;
	margin-bottom:27px;
	opacity: 0.5;
	z-index:2;
	left:-100%;

}
.section5{
	min-width:975px;
	position:relative;
	background:url('../img/view_bg.jpg');
	padding:6% 0 3%;
	text-align: center;
	overflow:hidden;

}
.section5_view {width:90%;}
.section5:before,
.section5:after{content=" ";display:table;}
.section5:after{clear:both;}
.section5_view{
	margin-bottom:20px;
}
.section6{
	position:relative;
	background:#d9cbc0;
	padding:3% 0 0;
	overflow:hidden;
	width:100%;
}
.section6_top{
	text-align: center;

}
.section6_top>span{
	display:block;
}
.section6_top span:first-child{
	font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #a99269;
    font-weight: 700;
    letter-spacing: 0;
}
.section6_top span+span{
	text-transform: uppercase;
	font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    line-height: 36px;
    color: #8b7955;
    letter-spacing: 0.03em;
}
.section6_top .line{
	width:1px;
	height:36px;
	background:#897761;
	margin:1% auto 1.5%;
}
.section6_list {
	width:90%;
	min-width:1200px;
	margin:-50px auto 0;
	position: relative;
	overflow: hidden;
	height:718px;


}
.section6_list ul{
	position: relative;
	text-align: center;
	margin-top:75px;
	height:100%;
}
.section6_list li:first-child{
	margin-left:-666px;
}
.section6_list li{
	display: inline-block;
	width:400px;
	padding-bottom:0.5%;
	margin:0 15px 1%;
	background-color:white;
	text-align: center;

}
.section6_list li>img{
	position:relative;
	width:90%;
	margin:0 auto;
	top:-26px;
	border:none;
}
.section6_list li .list_title{
	display:block;
	font-size:18px;
	line-height: 25px;
	color:#8b7955;
	font-weight:700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-bottom:1%;

}
.section6_list li .list_sub{
	display:block;
	font-family: 'PT Sans', sans-serif;
	font-size:14px;
	line-height: 22px;
	color:#8b7955;
	font-weight: 300;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-bottom:30%;
	opacity: 0.6;
}
.section6_list li .more_btn{
	position:relative;
	display:inline-block;
	font-family: 'PT Sans', sans-serif;
	font-size:14px;
	font-weight:600;
	color:#ac8f67;
	letter-spacing: 0.2em;
	padding: 10px 45px;
	border:1px solid #be9a5e;
}
.section6 .visible{
	height:450px;
}
.section6 .btn{
	position:absolute;
	display:block;
	width:59px;
	height:59px;
	margin:0 5px;
	cursor: pointer;
	background:url('../img/slider_arrow.png');
	z-index:10;
	bottom:-5%;
	left:50%;
	margin-left:-70px;
}
.section6 .slick-arrow{
	position:absolute;
	display:block;
	width:59px;
	height:59px;
	margin:0 5px;
	cursor: pointer;
	background:url('../img/slider_arrow.png');
	z-index:10;
	bottom:15%;
	left:50%;
	margin-left:-70px;
	border:none;
	text-indent:99999999px;
}
.section6 .slick-next{
	background-position: -60px 0;
	left:56%;
}
.section6 div[class^=slider_line] {
	position:absolute !important;
	width:calc(47% - 64px) !important;
	height:1px;
	background:white;
	bottom:5%;
	margin-bottom:27px;
	opacity: 0.5;
	z-index:2;

}
.section6 .slider_line1{
	left:2%;
}
.section6 .slider_line2{
	right:2%;
}