.main_tp{
	position:absolute;
	width: 40%;
    max-width: 488px;
    left: 3%;
    bottom: 11.5%;
    padding-bottom: 20px;
    z-index: 5;
}
.section1{
	height:450px;
	position: relative;
	min-width:975px;
}
.section1 li{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.section1 li>a>img{
	width:100%;
	height:100%;
}
.section1 .btns{
	position:absolute;
	width:145px;
	z-index:10;
	left:50%;
	bottom:8%;
	margin-left:-72.5px;
}
.section1 .btn{

	display:inline-block;
	width:59px;
	height:59px;
	margin:0 5px;
	cursor: pointer;
	background:url('../img/slider_arrow.png');
	z-index:10;

}
.section1 .next{
	background-position: -60px 0;

}
.section1 div[class^=slider_line] {
	position:absolute !important;
	width:93%;
	height:1px;
	background:white;
	bottom:8%;
	margin-bottom:27px;
	opacity: 0.5;
	z-index:2;
	margin-left:15px;

}
.section1 .slider_line1{
	left:2%;
}
.section1 .slider_line2{
	right:2%;
}
.slide_num{
	position: absolute;
	left:50%;
	bottom:2.5%;
	margin-left:-25px;
	color:white;
	font-family: "Pinyon Script",cursive;
    font-size: 20px;
    line-height: 26px;
    z-index: 5;
}
.section2{
	min-width:975px;
	position: relative;
	background:#eeeae1;
	width:100%;
	padding:60px 0;
}
.section2 .section2_bg{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background:url('../img/view_bg.jpg');
	background-size:cover;
}
.section2 .section2_text{
	position: relative;
    color: #93794a;
    text-align: center;
    z-index:5;
}
.section2 .subtitle{
	position: relative;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #93794a;
	text-transform: uppercase;
	font-style: italic;
	padding-top: 2.5%;
}
.section2 .subtitle h2{
	color: #93794a;
	font-family: 'Josefin Sans', sans-serif;
font-size: 70px;
line-height: 76px;
margin-top: 8px;
font-style: normal;

}
.section2 .line{
	width: 1px;
height: 28px;
background: #cdb89b;
margin: 20px auto;

}
.section2 .bbs_title{
	color: #93794a;
	font-style: normal;
	text-align: center;
	font-weight: bold;
	font-size:16px;
	margin-bottom:20px;
}
#calender{
	width:90%;
	margin:0 auto;
}